In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key=g_key)

In [2]:
#https://maps.googleapis.com/maps/api/place/output?parameters
#https://maps.googleapis.com/maps/api/timezone/json?location=
        #39.6034810,-119.6822510&timestamp=1331161200&key=YOUR_API_KEY

In [3]:
Weather_path="../output_data/newcity.csv"
Weather_Vacation=pd.read_csv(Weather_path)

In [4]:
#CONVERT UNIX TIME TO DATETIME AND ADD TO NEW COLUMN
time_date=Weather_Vacation.iloc[:,9].to_list()
times=[]
for t in time_date:
    time=datetime.utcfromtimestamp(t).strftime("%y-%m-%d")
    times.append(time)
    
Weather_Vacation.loc[:,"Time Date"]=times

In [5]:
Weather_Vac=Weather_Vacation.rename(columns={"lat":"Lat", "lon":"Lon"})
Weather_Vac=Weather_Vac[["City","Country","Lat","Lon","Max Temp","Humidity","Cloudiness","Wind Speed","Date","Time Date"]]

In [6]:
Weather_Vac

,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Time Date
0,Qaanaaq,GL,77.4840,-69.3632,-8.36,95,100,6.80,1644330335,22-02-08
1,Srednekolymsk,RU,67.4500,153.6833,-42.48,99,67,5.14,1644330336,22-02-08
2,Mumford,GH,5.2618,-0.7590,83.80,71,97,13.85,1644330336,22-02-08
3,Atuona,PF,-9.8000,-139.0333,77.77,76,6,17.43,1644330310,22-02-08
4,Khatanga,RU,71.9667,102.5000,0.90,82,100,17.76,1644330298,22-02-08
...,...,...,...,...,...,...,...,...,...,...
559,Maués,BR,-3.3836,-57.7186,83.48,72,100,3.87,1644330524,22-02-08
560,Neiafu,TO,-18.6500,-173.9833,75.88,94,100,4.61,1644330524,22-02-08
561,Bull Savanna,JM,17.8868,-77.5902,75.31,75,7,6.85,1644330525,22-02-08
562,Imeni Poliny Osipenko,RU,52.4201,136.4853,-1.55,99,100,0.94,1644330525,22-02-08
563,Sambava,MG,-14.2667,50.1667,80.11,83,99,2.42,1644330526,22-02-08

In [7]:
#HUMIDITY HEATMAP
Weather_Vac.dtypes

City           object
Country        object
Lat           float64
Lon           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Date            int64
Time Date      object
dtype: object

In [8]:
locations = Weather_Vac[["Lat", "Lon"]]

locations

         Lat       Lon
0    77.4840  -69.3632
1    67.4500  153.6833
2     5.2618   -0.7590
3    -9.8000 -139.0333
4    71.9667  102.5000
..       ...       ...
559  -3.3836  -57.7186
560 -18.6500 -173.9833
561  17.8868  -77.5902
562  52.4201  136.4853
563 -14.2667   50.1667

[564 rows x 2 columns]

In [9]:
Humidity = Weather_Vac["Humidity"].astype(float)

In [10]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=Humidity, 
                                 dissipating=False, max_intensity=50,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
#Create new DataFrame fitting weather criteria

In [12]:
hotel_df=Weather_Vac.loc[(Weather_Vac["Wind Speed"]<10)&(Weather_Vac["Cloudiness"]<1)& 
                         (Weather_Vac["Max Temp"]>70)&(Weather_Vac["Max Temp"]<80)].reset_index(drop=True)
hotel_df

,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Time Date
0,Buraidah,SA,26.3260,43.9750,70.25,23,0,3.56,1644330339,22-02-08
1,Coolum Beach,AU,-26.5333,153.1000,70.11,82,0,7.34,1644330339,22-02-08
2,Imbituba,BR,-28.2400,-48.6703,78.69,49,0,6.40,1644330085,22-02-08
3,Hātod,IN,22.8000,75.7333,70.12,52,0,0.00,1644330356,22-02-08
4,Makakilo City,US,21.3469,-158.0858,71.92,70,0,6.91,1644330363,22-02-08
5,Lahaina,US,20.8783,-156.6825,72.81,81,0,7.92,1644330365,22-02-08
6,Santana do Livramento,BR,-30.8908,-55.5328,75.61,35,0,6.46,1644330274,22-02-08
7,Peniche,PT,39.3558,-9.3811,70.88,49,0,7.81,1644330382,22-02-08
8,Ponta do Sol,PT,32.6667,-17.1000,70.12,47,0,7.14,1644330382,22-02-08
9,São Filipe,CV,14.8961,-24.4956,73.76,69,0,6.89,1644330384,22-02-08
10,Bermejo,AR,-32.8833,-68.8000,78.71,47,0,3.44,1644330386,22-02-08
11,Muros,ES,42.7762,-9.0603,70.68,55,0,4.79,1644330438,22-02-08
12,Hatta,IN,24.1167,79.6000,70.16,22,0,6.91,1644330440,22-02-08
13,Vallenar,CL,-28.5708,-70.7581,75.42,45,0,4.72,1644330446,22-02-08
14,Vertientes,CU,21.2594,-78.1464,77.61,66,0,7.85,1644330448,22-02-08
15,Ubari,LY,26.5921,12.7805,72.57,9,0,9.82,1644330454,22-02-08
16,Manzanillo,CU,20.3433,-77.1167,77.72,67,0,4.00,1644330456,22-02-08
17,Seddon,AU,-37.8068,144.8916,72.21,65,0,6.91,1644330464,22-02-08
18,San Martín,AR,-33.0810,-68.4681,79.34,34,0,4.92,1644330465,22-02-08
19,Morón,AR,-34.6534,-58.6198,73.99,53,0,3.80,1644330469,22-02-08
20,George,ZA,-33.9630,22.4617,76.55,69,0,5.75,1644330509,22-02-08
21,Ibrā’,OM,22.6906,58.5334,73.42,23,0,3.27,1644330514,22-02-08

In [13]:
hotel_names = []
geocode_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
for index, row in hotel_df.iterrows():
    params = {
        'address': row['City'],
        'key': g_key
    }
    response = requests.get(geocode_url, params).json()
    lat = response['results'][0]['geometry']['location']['lat']
    lng = response['results'][0]['geometry']['location']['lng']
    location = f'{lat},{lng}'
    keyword = '&keyword=hotel'
    nearby_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    final_url = f'{nearby_url}&location={location}{keyword}&rankby=distance&key={g_key}'
    hotel = requests.get(final_url).json()
#     print(hotel['results'][0]['name'])
    try:
        hotel_names.append(hotel['results'][0]['name'])
    except:
        hotel_names.append('N/A')
hotel_df['Hotel Name'] = hotel_names
hotel_df

,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Time Date,Hotel Name
0,Buraidah,SA,26.3260,43.9750,70.25,23,0,3.56,1644330339,22-02-08,OYO 598 Bariq Al Jawhara Hotel
1,Coolum Beach,AU,-26.5333,153.1000,70.11,82,0,7.34,1644330339,22-02-08,Element On Coolum Beach
2,Imbituba,BR,-28.2400,-48.6703,78.69,49,0,6.40,1644330085,22-02-08,Silvestre Praia Hotel
3,Hātod,IN,22.8000,75.7333,70.12,52,0,0.00,1644330356,22-02-08,OYO 15088 Amrit Greens Hotel & Banquets
4,Makakilo City,US,21.3469,-158.0858,71.92,70,0,6.91,1644330363,22-02-08,Embassy Suites by Hilton Oahu Kapolei
5,Lahaina,US,20.8783,-156.6825,72.81,81,0,7.92,1644330365,22-02-08,Hotel Lahaina
6,Santana do Livramento,BR,-30.8908,-55.5328,75.61,35,0,6.46,1644330274,22-02-08,Hotel Girassol
7,Peniche,PT,39.3558,-9.3811,70.88,49,0,7.81,1644330382,22-02-08,Ilhéu 25
8,Ponta do Sol,PT,32.6667,-17.1000,70.12,47,0,7.14,1644330382,22-02-08,1905 Zinos Palace
9,São Filipe,CV,14.8961,-24.4956,73.76,69,0,6.89,1644330384,22-02-08,Aparthotel Inacio
10,Bermejo,AR,-32.8833,-68.8000,78.71,47,0,3.44,1644330386,22-02-08,Hotel Dial
11,Muros,ES,42.7762,-9.0603,70.68,55,0,4.79,1644330438,22-02-08,Hotel La Muradana
12,Hatta,IN,24.1167,79.6000,70.16,22,0,6.91,1644330440,22-02-08,Hatta station 1
13,Vallenar,CL,-28.5708,-70.7581,75.42,45,0,4.72,1644330446,22-02-08,Hotel Cecil
14,Vertientes,CU,21.2594,-78.1464,77.61,66,0,7.85,1644330448,22-02-08,N/A
15,Ubari,LY,26.5921,12.7805,72.57,9,0,9.82,1644330454,22-02-08,N/A
16,Manzanillo,CU,20.3433,-77.1167,77.72,67,0,4.00,1644330456,22-02-08,Hotel Costa Brava
17,Seddon,AU,-37.8068,144.8916,72.21,65,0,6.91,1644330464,22-02-08,Pan Pacific Vancouver
18,San Martín,AR,-33.0810,-68.4681,79.34,34,0,4.92,1644330465,22-02-08,"HALL Arts Hotel Dallas, Curio Collection by Hi..."
19,Morón,AR,-34.6534,-58.6198,73.99,53,0,3.80,1644330469,22-02-08,Hotel Haedo
20,George,ZA,-33.9630,22.4617,76.55,69,0,5.75,1644330509,22-02-08,Best Western Coffeyville Central Business Dist...
21,Ibrā’,OM,22.6906,58.5334,73.42,23,0,3.27,1644330514,22-02-08,Golden Rays hotel

In [14]:
hotel_df.to_csv("../output_data/Hotels.csv", index=True, header=True)

In [15]:
Hotels=pd.read_csv("../output_data/Hotels.csv")
Hotels

,Unnamed: 0,City,Country,Lat,Lon,Max Temp,Humidity,Cloudiness,Wind Speed,Date,Time Date,Hotel Name
0,0,Buraidah,SA,26.3260,43.9750,70.25,23,0,3.56,1644330339,22-02-08,OYO 598 Bariq Al Jawhara Hotel
1,1,Coolum Beach,AU,-26.5333,153.1000,70.11,82,0,7.34,1644330339,22-02-08,Element On Coolum Beach
2,2,Imbituba,BR,-28.2400,-48.6703,78.69,49,0,6.40,1644330085,22-02-08,Silvestre Praia Hotel
3,3,Hātod,IN,22.8000,75.7333,70.12,52,0,0.00,1644330356,22-02-08,OYO 15088 Amrit Greens Hotel & Banquets
4,4,Makakilo City,US,21.3469,-158.0858,71.92,70,0,6.91,1644330363,22-02-08,Embassy Suites by Hilton Oahu Kapolei
5,5,Lahaina,US,20.8783,-156.6825,72.81,81,0,7.92,1644330365,22-02-08,Hotel Lahaina
6,6,Santana do Livramento,BR,-30.8908,-55.5328,75.61,35,0,6.46,1644330274,22-02-08,Hotel Girassol
7,7,Peniche,PT,39.3558,-9.3811,70.88,49,0,7.81,1644330382,22-02-08,Ilhéu 25
8,8,Ponta do Sol,PT,32.6667,-17.1000,70.12,47,0,7.14,1644330382,22-02-08,1905 Zinos Palace
9,9,São Filipe,CV,14.8961,-24.4956,73.76,69,0,6.89,1644330384,22-02-08,Aparthotel Inacio
10,10,Bermejo,AR,-32.8833,-68.8000,78.71,47,0,3.44,1644330386,22-02-08,Hotel Dial
11,11,Muros,ES,42.7762,-9.0603,70.68,55,0,4.79,1644330438,22-02-08,Hotel La Muradana
12,12,Hatta,IN,24.1167,79.6000,70.16,22,0,6.91,1644330440,22-02-08,Hatta station 1
13,13,Vallenar,CL,-28.5708,-70.7581,75.42,45,0,4.72,1644330446,22-02-08,Hotel Cecil
14,14,Vertientes,CU,21.2594,-78.1464,77.61,66,0,7.85,1644330448,22-02-08,NaN
15,15,Ubari,LY,26.5921,12.7805,72.57,9,0,9.82,1644330454,22-02-08,NaN
16,16,Manzanillo,CU,20.3433,-77.1167,77.72,67,0,4.00,1644330456,22-02-08,Hotel Costa Brava
17,17,Seddon,AU,-37.8068,144.8916,72.21,65,0,6.91,1644330464,22-02-08,Pan Pacific Vancouver
18,18,San Martín,AR,-33.0810,-68.4681,79.34,34,0,4.92,1644330465,22-02-08,"HALL Arts Hotel Dallas, Curio Collection by Hi..."
19,19,Morón,AR,-34.6534,-58.6198,73.99,53,0,3.80,1644330469,22-02-08,Hotel Haedo
20,20,George,ZA,-33.9630,22.4617,76.55,69,0,5.75,1644330509,22-02-08,Best Western Coffeyville Central Business Dist...
21,21,Ibrā’,OM,22.6906,58.5334,73.42,23,0,3.27,1644330514,22-02-08,Golden Rays hotel

In [16]:
# Convert Hotel Name to list
Hotel_list = Hotels["Hotel Name"].tolist()
Hotel_list

['OYO 598 Bariq Al Jawhara Hotel',
 'Element On Coolum Beach',
 'Silvestre Praia Hotel',
 'OYO 15088 Amrit Greens Hotel & Banquets',
 'Embassy Suites by Hilton Oahu Kapolei',
 'Hotel Lahaina',
 'Hotel Girassol',
 'Ilhéu 25',
 '1905 Zinos Palace',
 'Aparthotel Inacio',
 'Hotel Dial',
 'Hotel La Muradana',
 'Hatta station 1',
 'Hotel Cecil',
 nan,
 nan,
 'Hotel Costa Brava',
 'Pan Pacific Vancouver',
 'HALL Arts Hotel Dallas, Curio Collection by Hilton',
 'Hotel Haedo',
 'Best Western Coffeyville Central Business District Inn And Suites',
 'Golden Rays hotel']

In [17]:
# Create a map using state centroid coordinates to set markers
marker_locations = Hotels[['Lat', 'Lon']]

# Create a marker_layer using the poverty list to fill the info box
fig = gmaps.figure()
markers = gmaps.marker_layer(marker_locations,
    info_box_content=[f"Hotel: {hotel}" for hotel in Hotel_list])
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))